@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="C:\Projetos\AV1_MVC\AV1\Views\Shared\_Layout.cshtml"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

        <title>Sport</title>
    </head>
    <body>
       
         
        <article>
            <br>
            <h1>Centro de Lazer</h1>
        
            <p><strong><span id="text-preto">A prática regular de Esporte</span></strong> e atividades físicas gera diversos benefícios ao corpo e à mente das pessoas em seu dia-a-dia,
                <br/> podendo funcionar como uma válvula de escape do estresse da rotina do trabalho e dos afazeres domésticos e prevenindo o envelhecimento na idade adulta,<br/> e evitando o sedentarismo e a obesidade.</p>
        </article>
        
             
        <section id="pag-beneficios">
            <h2>Beneficios</h2>
            
            <p>A prática da atividades fisica.</p>

            <ul>
                <li>Auxilia na prevenção de doenças</li>
                <li>Melhora o humor</li>
                <li>Força,flexibilidade e resistência fisica</li>
                <li>Aumenta a produtividade</li>
                <li>Queima calorias / controle do peso</li>
            </ul>
        </section>    
    
        <section  id="pag-modalidades">

            <h2>Modalidades</h2>

            <div id="container">
                <div class="card">
                    
                    <div class="card-content">
                        <h3>Futebol</h3>
                        <p>Duas equipes compostas por 11 jogadores disputam uma partida em que o objetivo é marcar o máximo possível de gols.</p>
                    </div>
                </div>

                <div class="card">
                    
                    <div class="card-content">
                        <h3>Voleibol</h3>
                        <p> O voleibol é jogado com uma bola e inclui diversos passes com as mãos. O objetivo principal é lançar a bola por cima da rede e fazê-la tocar no chão do adversário.</p>
                    </div>
                </div>

                <div class="card">
                    
                    <div class="card-content">
                        <h3>Natação</h3>
                        <p>  Os estilos de natação dividem-se em quatro: crawl, costas, peito e borboleta. No nado crawl, o peito fica submerso, as batidas de pernas são alternadas, os braços são alternados simultaneamente.</p>
                    </div>
                </div>

                <div class="card">
                    
                    <div class="card-content">
                        <h3>Judô</h3>
                        <p> O praticante de judô melhora o condicionamento físico e ganha força, pois os golpes trabalham todos os músculos, especialmente das pernas, braços e abdômen.</p>
                    </div>
                </div>
            </div>  
        </section>

            
        <section id="pag-treinos">

            <h2>Treinos</h2>
                <div id="container-treinos">
                    <div class="coluna-treinos">
                        <p>Normalmente os treinos acontecemaos finais de semana no periodo da manhã.</p>
                        <p>Se fosse possível dar uma resposta única para essa pergunta, os especialistas diriam que é melhor fazer exercícios em grupo do que treinar sozinho</P> . <p> porque várias pesquisas já mostraram que interagir com outras pessoas melhora a sensação de bem-estar, reduz o estresse e desperta mais motivação entre os praticantes de uma atividade física.</P> 
                    </div>   
                    
                    
                </div>
                   

        </section>

        <footer>
            <div class="boxs">
                <h2>Inicio</h2>
                <ul>
                    <li><a href="#pag-beneficios">Beneficios</a></li>
                    <li><a href="#pag-modalidades">Modalidades</a></li>
                    <li><a href="#pag-treinos">Treinos</a></li>
                    <li><a href="agendamentos.html">Agendamentos</a></li>
                </ul>
            </div>

            <div class="boxs">
                <h2>Suporte</h2>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Telefone</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </div>

            <div class="boxs">
                 <h2>sobre nós</h2>

                 <p>
                    "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    
                 </p>
                
            </div>

               <!--<small>Copyright © 2021 </small> caso queira no site-->
 
            
        </footer>

        <div class="footer">
            <h2>Redes Socias</h2>
            <div class="sociais">
                <div class="social"> 
                    <a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                </div>

                <div class="social">
                    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                 </div>

                <div class="social">
                    <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a> 
                </div>
            </div>
            
        </div>
        
    </body>
</html>
